<div>
    <h2>
        <span>Such Az Users</span>
        <button class="btn btn-primary float-right jh-create-entity create-such-az-user-suchaz" [routerLink]="['/', { outlets: { popup: ['such-az-user-suchaz-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Such Az User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="suchAzUsers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span>Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="password"><span>Password</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="contact"><span>Contact</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span>Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="role"><span>Role</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fbAccessToken"><span>Fb Access Token</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fbAccessTokenType"><span>Fb Access Token Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isVarified"><span>Is Varified</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tokenExpDate"><span>Token Exp Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="varifiedBy"><span>Varified By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="signupMethod"><span>Signup Method</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span>Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastUpdatedDate"><span>Last Updated Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdBy"><span>Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastUpdatedBy"><span>Last Updated By</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let suchAzUser of suchAzUsers ;trackBy: trackId">
                <td><a [routerLink]="['../such-az-user-suchaz', suchAzUser.id ]">{{suchAzUser.id}}</a></td>
                <td>{{suchAzUser.email}}</td>
                <td>{{suchAzUser.password}}</td>
                <td>{{suchAzUser.contact}}</td>
                <td>{{suchAzUser.status}}</td>
                <td>{{suchAzUser.role}}</td>
                <td>{{suchAzUser.fbAccessToken}}</td>
                <td>{{suchAzUser.fbAccessTokenType}}</td>
                <td>{{suchAzUser.isVarified}}</td>
                <td>{{suchAzUser.tokenExpDate}}</td>
                <td>{{suchAzUser.varifiedBy}}</td>
                <td>{{suchAzUser.signupMethod}}</td>
                <td>{{suchAzUser.createdDate}}</td>
                <td>{{suchAzUser.lastUpdatedDate}}</td>
                <td>{{suchAzUser.createdBy}}</td>
                <td>{{suchAzUser.lastUpdatedBy}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../such-az-user-suchaz', suchAzUser.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'such-az-user-suchaz/'+ suchAzUser.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'such-az-user-suchaz/'+ suchAzUser.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
