<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySuchAzUserLabel">Create or edit a Such Az User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!suchAzUser.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="suchAzUser.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="suchAzUser.email" required/>
            <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_password">Password</label>
            <input type="text" class="form-control" name="password" id="field_password"
                [(ngModel)]="suchAzUser.password" required/>
            <div [hidden]="!(editForm.controls.password?.dirty && editForm.controls.password?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.password?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_contact">Contact</label>
            <input type="number" class="form-control" name="contact" id="field_contact"
                [(ngModel)]="suchAzUser.contact" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="suchAzUser.status" id="field_status"  required>
                <option value="ACTIVE">ACTIVE</option>
                <option value="INACTIVE">INACTIVE</option>
            </select>
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_role">Role</label>
            <select class="form-control" name="role" [(ngModel)]="suchAzUser.role" id="field_role"  required>
                <option value="GIFTER">GIFTER</option>
            </select>
            <div [hidden]="!(editForm.controls.role?.dirty && editForm.controls.role?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.role?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fbAccessToken">Fb Access Token</label>
            <input type="text" class="form-control" name="fbAccessToken" id="field_fbAccessToken"
                [(ngModel)]="suchAzUser.fbAccessToken" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fbAccessTokenType">Fb Access Token Type</label>
            <select class="form-control" name="fbAccessTokenType" [(ngModel)]="suchAzUser.fbAccessTokenType" id="field_fbAccessTokenType" >
                <option value="USER_ACCESS_TOKEN">USER_ACCESS_TOKEN</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_isVarified">Is Varified</label>
            <input type="text" class="form-control" name="isVarified" id="field_isVarified"
                [(ngModel)]="suchAzUser.isVarified" required/>
            <div [hidden]="!(editForm.controls.isVarified?.dirty && editForm.controls.isVarified?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.isVarified?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_tokenExpDate">Token Exp Date</label>
            <input type="number" class="form-control" name="tokenExpDate" id="field_tokenExpDate"
                [(ngModel)]="suchAzUser.tokenExpDate" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_varifiedBy">Varified By</label>
            <select class="form-control" name="varifiedBy" [(ngModel)]="suchAzUser.varifiedBy" id="field_varifiedBy" >
                <option value="FACEBOOK">FACEBOOK</option>
                <option value="EMAIL">EMAIL</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_signupMethod">Signup Method</label>
            <select class="form-control" name="signupMethod" [(ngModel)]="suchAzUser.signupMethod" id="field_signupMethod" >
                <option value="FACEBOOK">FACEBOOK</option>
                <option value="EMAIL">EMAIL</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdDate">Created Date</label>
            <input type="number" class="form-control" name="createdDate" id="field_createdDate"
                [(ngModel)]="suchAzUser.createdDate" required/>
            <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdDate?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.createdDate?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastUpdatedDate">Last Updated Date</label>
            <input type="number" class="form-control" name="lastUpdatedDate" id="field_lastUpdatedDate"
                [(ngModel)]="suchAzUser.lastUpdatedDate" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="suchAzUser.createdBy" required/>
            <div [hidden]="!(editForm.controls.createdBy?.dirty && editForm.controls.createdBy?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdBy?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastUpdatedBy">Last Updated By</label>
            <input type="text" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"
                [(ngModel)]="suchAzUser.lastUpdatedBy" />
        </div>

        <div class="form-group">
            <label for="field_trait">Trait</label>
            <select class="form-control" id="field_trait" multiple name="trait" [(ngModel)]="suchAzUser.traits">
                <option [ngValue]="getSelected(suchAzUser.traits, traitOption)" *ngFor="let traitOption of traits; trackBy: trackTraitById">{{traitOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
