
<div *ngIf="category">
    <h2><span>Category</span> {{category.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{category.name}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{category.description}}</span>
        </dd>
        <dt><span>Category Code</span></dt>
        <dd>
            <span>{{category.categoryCode}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{category.status}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{category.createdDate}}</span>
        </dd>
        <dt><span>Last Updated Date</span></dt>
        <dd>
            <span>{{category.lastUpdatedDate}}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
            <span>{{category.createdBy}}</span>
        </dd>
        <dt><span>Last Updated By</span></dt>
        <dd>
            <span>{{category.lastUpdatedBy}}</span>
        </dd>
        <dt><span>Parent</span></dt>
        <dd>
            <div *ngIf="category.parentId">
                <a [routerLink]="['/category-suchaz', category.parentId]">{{category.parentName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'category-suchaz/'+ category.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
