<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{suchaz.email.activation.title}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{suchaz.email.activation.greeting(${user.email})}">
        </p>
        <p th:text="#{suchaz.email.activation.text1}">
        </p>
        <p>
            <!-- th:href="@{|${baseUrl}/#/activate?key=${user.activationKey}|}"
               th:text="@{|${baseUrl}/#/activate?key=${user.activationKey}|}" -->
               <a>Activation Link</a>
        </p>
        <p>
            <span th:text="#{suchaz.email.activation.text2}"></span>
            <br/>
            <em th:text="#{suchaz.email.signature}"></em>
        </p>
    </body>
</html>
