
<div *ngIf="wishList">
    <h2><span>Wish List</span> {{wishList.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Status</span></dt>
        <dd>
            <span>{{wishList.status}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{wishList.createdDate}}</span>
        </dd>
        <dt><span>Last Updated Date</span></dt>
        <dd>
            <span>{{wishList.lastUpdatedDate}}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
            <span>{{wishList.createdBy}}</span>
        </dd>
        <dt><span>Last Updated By</span></dt>
        <dd>
            <span>{{wishList.lastUpdatedBy}}</span>
        </dd>
        <dt><span>Such Az User</span></dt>
        <dd>
            <div *ngIf="wishList.suchAzUserId">
                <a [routerLink]="['/such-az-user-suchaz', wishList.suchAzUserId]">{{wishList.suchAzUserEmail}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'wish-list-suchaz/'+ wishList.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
