<div>
    <h2>
        <span>Trait Images</span>
        <button class="btn btn-primary float-right jh-create-entity create-trait-image-suchaz" [routerLink]="['/', { outlets: { popup: ['trait-image-suchaz-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Trait Image
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="traitImages">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Personality Image Name</span></th>
            <th><span>Personality Image Desc</span></th>
            <th><span>Personality Image Size</span></th>
            <th><span>Personality Image</span></th>
            <th><span>Personality Image Type</span></th>
            <th><span>Status</span></th>
            <th><span>Created Date</span></th>
            <th><span>Last Updated Date</span></th>
            <th><span>Created By</span></th>
            <th><span>Last Updated By</span></th>
            <th><span>Trait</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let traitImage of traitImages ;trackBy: trackId">
                <td><a [routerLink]="['../trait-image-suchaz', traitImage.id ]">{{traitImage.id}}</a></td>
                <td>{{traitImage.personalityImageName}}</td>
                <td>{{traitImage.personalityImageDesc}}</td>
                <td>{{traitImage.personalityImageSize}}</td>
                <td>
                    <a *ngIf="traitImage.personalityImage" (click)="openFile(traitImage.personalityImageContentType, traitImage.personalityImage)">
                        <img [src]="'data:' + traitImage.personalityImageContentType + ';base64,' + traitImage.personalityImage" style="max-height: 30px;" alt="traitImage image"/>
                    </a>
                    <span *ngIf="traitImage.personalityImage">{{traitImage.personalityImageContentType}}, {{byteSize(traitImage.personalityImage)}}</span>
                </td>
                <td>{{traitImage.personalityImageType}}</td>
                <td>{{traitImage.status}}</td>
                <td>{{traitImage.createdDate}}</td>
                <td>{{traitImage.lastUpdatedDate}}</td>
                <td>{{traitImage.createdBy}}</td>
                <td>{{traitImage.lastUpdatedBy}}</td>
                <td>
                    <div *ngIf="traitImage.traitId">
                        <a [routerLink]="['../trait-suchaz', traitImage.traitId  ]" >{{traitImage.traitName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../trait-image-suchaz', traitImage.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trait-image-suchaz/'+ traitImage.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trait-image-suchaz/'+ traitImage.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
