<div>
    <h2>
        <span>Item Reviews</span>
        <button class="btn btn-primary float-right jh-create-entity create-item-review-suchaz" [routerLink]="['/', { outlets: { popup: ['item-review-suchaz-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Item Review
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="itemReviews">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Rating Value</span></th>
            <th><span>Rating Comment</span></th>
            <th><span>Item</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let itemReview of itemReviews ;trackBy: trackId">
                <td><a [routerLink]="['../item-review-suchaz', itemReview.id ]">{{itemReview.id}}</a></td>
                <td>{{itemReview.ratingValue}}</td>
                <td>{{itemReview.ratingComment}}</td>
                <td>
                    <div *ngIf="itemReview.itemId">
                        <a [routerLink]="['../item-suchaz', itemReview.itemId  ]" >{{itemReview.itemTitle}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../item-review-suchaz', itemReview.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'item-review-suchaz/'+ itemReview.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'item-review-suchaz/'+ itemReview.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
