<div>
    <h2>
        <span>Offers</span>
        <button class="btn btn-primary float-right jh-create-entity create-offer-suchaz" [routerLink]="['/', { outlets: { popup: ['offer-suchaz-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Offer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="offers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Offer Name</span></th>
            <th><span>Offer Desc</span></th>
            <th><span>Offer Code</span></th>
            <th><span>Offer TC</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let offer of offers ;trackBy: trackId">
                <td><a [routerLink]="['../offer-suchaz', offer.id ]">{{offer.id}}</a></td>
                <td>{{offer.offerName}}</td>
                <td>{{offer.offerDesc}}</td>
                <td>{{offer.offerCode}}</td>
                <td>{{offer.offerTC}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../offer-suchaz', offer.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'offer-suchaz/'+ offer.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'offer-suchaz/'+ offer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
