
<div *ngIf="trait">
    <h2><span>Trait</span> {{trait.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{trait.name}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{trait.description}}</span>
        </dd>
        <dt><span>Trait Code</span></dt>
        <dd>
            <span>{{trait.traitCode}}</span>
        </dd>
        <dt><span>Is Exposed To Menu</span></dt>
        <dd>
            <span>{{trait.isExposedToMenu}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{trait.status}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{trait.createdDate}}</span>
        </dd>
        <dt><span>Last Updated Date</span></dt>
        <dd>
            <span>{{trait.lastUpdatedDate}}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
            <span>{{trait.createdBy}}</span>
        </dd>
        <dt><span>Last Updated By</span></dt>
        <dd>
            <span>{{trait.lastUpdatedBy}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'trait-suchaz/'+ trait.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
