<div>
    <h2>
        <span>Activity Lists</span>
        <button class="btn btn-primary float-right jh-create-entity create-activity-list-suchaz" [routerLink]="['/', { outlets: { popup: ['activity-list-suchaz-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Activity List
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="activityLists">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Status</span></th>
            <th><span>Created Date</span></th>
            <th><span>Last Updated Date</span></th>
            <th><span>Created By</span></th>
            <th><span>Last Updated By</span></th>
            <th><span>Such Az User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let activityList of activityLists ;trackBy: trackId">
                <td><a [routerLink]="['../activity-list-suchaz', activityList.id ]">{{activityList.id}}</a></td>
                <td>{{activityList.status}}</td>
                <td>{{activityList.createdDate}}</td>
                <td>{{activityList.lastUpdatedDate}}</td>
                <td>{{activityList.createdBy}}</td>
                <td>{{activityList.lastUpdatedBy}}</td>
                <td>
                    <div *ngIf="activityList.suchAzUserId">
                        <a [routerLink]="['../such-az-user-suchaz', activityList.suchAzUserId  ]" >{{activityList.suchAzUserEmail}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../activity-list-suchaz', activityList.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'activity-list-suchaz/'+ activityList.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'activity-list-suchaz/'+ activityList.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
