
<div *ngIf="activityList">
    <h2><span>Activity List</span> {{activityList.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Status</span></dt>
        <dd>
            <span>{{activityList.status}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{activityList.createdDate}}</span>
        </dd>
        <dt><span>Last Updated Date</span></dt>
        <dd>
            <span>{{activityList.lastUpdatedDate}}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
            <span>{{activityList.createdBy}}</span>
        </dd>
        <dt><span>Last Updated By</span></dt>
        <dd>
            <span>{{activityList.lastUpdatedBy}}</span>
        </dd>
        <dt><span>Such Az User</span></dt>
        <dd>
            <div *ngIf="activityList.suchAzUserId">
                <a [routerLink]="['/such-az-user-suchaz', activityList.suchAzUserId]">{{activityList.suchAzUserEmail}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'activity-list-suchaz/'+ activityList.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
