<div>
    <h2>
        <span>Occassions</span>
        <button class="btn btn-primary float-right jh-create-entity create-occassion-suchaz" [routerLink]="['/', { outlets: { popup: ['occassion-suchaz-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Occassion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="occassions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Description</span></th>
            <th><span>Occasion Code</span></th>
            <th><span>Is Exposed To Menu</span></th>
            <th><span>Status</span></th>
            <th><span>Created Date</span></th>
            <th><span>Last Updated Date</span></th>
            <th><span>Created By</span></th>
            <th><span>Last Updated By</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let occassion of occassions ;trackBy: trackId">
                <td><a [routerLink]="['../occassion-suchaz', occassion.id ]">{{occassion.id}}</a></td>
                <td>{{occassion.name}}</td>
                <td>{{occassion.description}}</td>
                <td>{{occassion.occasionCode}}</td>
                <td>{{occassion.isExposedToMenu}}</td>
                <td>{{occassion.status}}</td>
                <td>{{occassion.createdDate}}</td>
                <td>{{occassion.lastUpdatedDate}}</td>
                <td>{{occassion.createdBy}}</td>
                <td>{{occassion.lastUpdatedBy}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../occassion-suchaz', occassion.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'occassion-suchaz/'+ occassion.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'occassion-suchaz/'+ occassion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
