<div>
    <h2>
        <span>Item Attribute Types</span>
        <button class="btn btn-primary float-right jh-create-entity create-item-attribute-type-suchaz" [routerLink]="['/', { outlets: { popup: ['item-attribute-type-suchaz-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Item Attribute Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="itemAttributeTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Attribute Type Name</span></th>
            <th><span>Category</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let itemAttributeType of itemAttributeTypes ;trackBy: trackId">
                <td><a [routerLink]="['../item-attribute-type-suchaz', itemAttributeType.id ]">{{itemAttributeType.id}}</a></td>
                <td>{{itemAttributeType.attributeTypeName}}</td>
                <td>
                    <div *ngIf="itemAttributeType.categoryId">
                        <a [routerLink]="['../category-suchaz', itemAttributeType.categoryId  ]" >{{itemAttributeType.categoryName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../item-attribute-type-suchaz', itemAttributeType.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'item-attribute-type-suchaz/'+ itemAttributeType.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'item-attribute-type-suchaz/'+ itemAttributeType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
