
<div *ngIf="relationship">
    <h2><span>Relationship</span> {{relationship.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{relationship.name}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{relationship.description}}</span>
        </dd>
        <dt><span>Relationship Code</span></dt>
        <dd>
            <span>{{relationship.relationshipCode}}</span>
        </dd>
        <dt><span>Is Exposed To Menu</span></dt>
        <dd>
            <span>{{relationship.isExposedToMenu}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{relationship.status}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{relationship.createdDate}}</span>
        </dd>
        <dt><span>Last Updated Date</span></dt>
        <dd>
            <span>{{relationship.lastUpdatedDate}}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
            <span>{{relationship.createdBy}}</span>
        </dd>
        <dt><span>Last Updated By</span></dt>
        <dd>
            <span>{{relationship.lastUpdatedBy}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'relationship-suchaz/'+ relationship.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
