<div>
    <h2>
        <span>Relationships</span>
        <button class="btn btn-primary float-right jh-create-entity create-relationship-suchaz" [routerLink]="['/', { outlets: { popup: ['relationship-suchaz-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Relationship
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="relationships">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Description</span></th>
            <th><span>Relationship Code</span></th>
            <th><span>Is Exposed To Menu</span></th>
            <th><span>Status</span></th>
            <th><span>Created Date</span></th>
            <th><span>Last Updated Date</span></th>
            <th><span>Created By</span></th>
            <th><span>Last Updated By</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let relationship of relationships ;trackBy: trackId">
                <td><a [routerLink]="['../relationship-suchaz', relationship.id ]">{{relationship.id}}</a></td>
                <td>{{relationship.name}}</td>
                <td>{{relationship.description}}</td>
                <td>{{relationship.relationshipCode}}</td>
                <td>{{relationship.isExposedToMenu}}</td>
                <td>{{relationship.status}}</td>
                <td>{{relationship.createdDate}}</td>
                <td>{{relationship.lastUpdatedDate}}</td>
                <td>{{relationship.createdBy}}</td>
                <td>{{relationship.lastUpdatedBy}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../relationship-suchaz', relationship.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'relationship-suchaz/'+ relationship.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'relationship-suchaz/'+ relationship.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
